.contenedor
	background-color #DDD
	padding 1em

#contenedor1
	background-color red
	padding 2em 0 1em 0 

#contenedor2
	background-color blue
	padding 1em	

.col
	background-color #AAA
	border 2px solid #444	
	color white

.col1
	background-color #AAA
	border 2px solid #444	
	


		